
.book-home {
  margin-bottom: 10px;
}
.book-home img{
  width: 100%;
}

.book-shadow{
  padding: 10px;
  box-shadow: 2px 2px 8px grey;
}

.book-shadow h1{
  text-align: center;
}

.books-container{
  padding: 0 50px;
}